*{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

body{
    background: #cfcfcf;
    background: linear-gradient(90deg, rgba(207, 207, 207, 1) 0%, rgba(255, 255, 255, 1) 2%, rgba(255, 255, 255, 1) 98%, rgba(207, 207, 207, 1) 100%);
}
#logo{
    margin-left: -80px;
    width: 150px;
    height: auto; /* Ajuste o tamanho da logo, se necessário */
}

.paginas{
    color:grey;
    text-decoration: none;
    margin-left: 15px; /* Espaçamento entre os links */
}

.paginas:hover{
    font-size: 21px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Ajusta o espaçamento entre logo e links */
    
}

header a:hover {
    color: #007BFF; /* Cor ao passar o mouse */
}

.contato{
    background:#608BC0;
    border-radius: 20px;
    margin-left: 15px; /* Espaçamento entre os links */
    text-decoration: none; /* Remove o sublinhado */
    color: black; /* Ajuste a cor conforme necessário */
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}

.contato:hover{
    background: #007BFF; /* Cor ao passar o mouse */
    color: white; /* Ajuste a cor conforme necessário */
    size: 21px;
}

.icones{
    color: #608BC0;
    font-size: 35px;
}

#titulo{
    font-size: 60px;
    color: #153D84;
    margin-top: 10vh;
    margin-left: 20vh;
}

#fachada{
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.849);
    margin-left: 80vh;
    margin-top: -70vh;
    width: 900px;
}
#desc{
    font-size: 20px;
    color: grey;
    margin-top: 5vh;
    margin-left: 19vh;
}

.botao-servicos{
    background:#608BC0;
    border-radius: 20px;
    text-decoration: none; /* Remove o sublinhado */
    color: white; /* Ajuste a cor conforme necessário */
    width: 500px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    margin-left: 20vh;
    margin-top: 15vh;
}

.link-servicos{
    text-decoration: none; /* Remove o sublinhado */
    color: white; /* Ajuste a cor conforme necessário */
    font-size: 29px;
}

.botao-servicos:hover{
    background: #007BFF; /* Cor ao passar o mouse */
    color: white; /* Ajuste a cor conforme necessário */
    size: 21px;
}

.icones:hover{
    color: #007BFF; /* Cor ao passar o mouse */
    font-size: 41px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Ajuste a altura do footer conforme necessário */
    background-color: #608BC0; /* Cor de fundo do footer */
    color: white; /* Cor do texto no footer */
    font-size: 20px; /* Tamanho da fonte no footer */
    margin-top: 20vh; /* Espaçamento acima do footer */
}